.showcase {
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
    margin: 0;
    padding: 0;

        &>.container {
                display: flex;
                justify-content: center;
                align-items: center;
            
            @include md {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        
        img {
            max-width: 350px ;
            display: none;

            @include md {
                display: inherit;
                max-width: 180px;
            }
            @include lg {
                max-width: 250px;
            }
            @include xl {
                max-width: 350px;
            }
        }

        .showcase-text {
            flex-direction: column;
            justify-self: center;
            align-self: center;
            margin: 1rem 2rem;

            h1 {
                font-size: $font-size-65;
                font-weight: $font-weight-extra-bold;
                text-align: center;
                line-height: 1;
                margin-bottom: 0.5rem;

                @include md {
                    font-size: $font-size-45;
                }                
                @include lg {
                    font-size: $font-size-65;
                }
            }

            p {
                font-size: $font-size-14;
                text-align: center;
                margin-bottom: 1rem;

                @include md {
                    font-size: $font-size-11;
                }
                @include lg {
                    font-size: $font-size-14;
                }
            }
        }
}

.main-banner > .container {
    height: 370px;
    padding: 2rem;

    .main-banner-sale {
        background-image: url(/images/placeholders/woman-arms-up.svg);
        background-size: cover;
        height: 100%;
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;
        padding-left: 2rem;

        h1 {
            line-height: 1.2;
            font-size: $font-size-35;
            margin-bottom: 0.5rem;

            span {
                display: block;
            }
        }

        p {
            width: 50%;
            font-size: $font-size-11;
            margin-bottom: 1.5rem;
        }
    }
    
    .main-banner-new-arrivals {
        background-image: url(/images/placeholders/man-upper-body.svg);
        background-size: cover;
        height: 100%;
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;
        padding-left: 2rem;

            h1 {
                width: 20%;
                font-size: $font-size-35;
                line-height: 1.2;
            }
    }

    button {
        margin-bottom: 40px;
    }
}

.featured-products {
    margin-bottom: 2rem;


    .featured-product-grid {
        display: grid;
       justify-content: center;

        grid-template-columns: repeat(auto-fill, minmax(150px,220px));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        @include lg {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

.second-banner {
    .second-banner-left {
        background-image: url(/images/placeholders/woman-upper-body.svg);
        background-size: cover;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 2rem;
        margin-right: 1rem;
        text-align: end;

        h1 {
            line-height: 1.2;
            font-size: $font-size-35;
            margin-bottom: 2rem;

            span {
                display: block;
            }
        }

        p {
            width: 50%;
            font-size: $font-size-11;
            margin-bottom: 1.5rem;
        }
    }
    
    .second-banner-right {
        background-image: url(/images/placeholders/woman-coat.svg);
        background-size: cover;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;
        padding-left: 2rem;
        margin-left: 1rem;

            h1 {
                line-height: 1.2;
                font-size: $font-size-35;
                margin-bottom: 2rem;

                span {
                    display: block;
                }
            }
    }

    button {
        margin-bottom: 40px;
    }
}

.our-specialty {
    margin: 2rem 0;

    &> .container {
        background-color: $color-gray-10;
        padding: 1rem 0;
    }
    
    .our-specialty-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        gap: 1rem;
    
    }
}

.product-display {
    margin-bottom: 3rem;

    .product-grid-large {
        display: grid;
        grid-auto-columns: repeat(6, 1fr);
        grid-auto-rows: repeat(4, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        justify-content: center;
        
        #large-image-upper      { 
            grid-area: 1 / 1 / 3 / 3; 
            height: 300px;
            background-image: url(/images/placeholders/grid-large-placeholder.png);
            background-size: conatin;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #small-image-upper-1    { grid-area: 3 / 1 / 4 / 2; }
        #small-image-upper-2    { grid-area: 3 / 2 / 4 / 3; }
        #small-image-upper-3    { grid-area: 4 / 1 / 5 / 2; }
        #small-image-upper-4    { grid-area: 4 / 2 / 5 / 3; }
        #large-image-lower      { 
            grid-area: 5 / 1 / 7 / 3;
            background-image: url(/images/placeholders/grid-large-placeholder.png);
            background-size: contain;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #small-image-lower-1    { grid-area: 7 / 1 / 8 / 2; }
        #small-image-lower-2    { grid-area: 7 / 2 / 8 / 3; }
        #small-image-lower-3    { grid-area: 8 / 1 / 9 / 2; }
        #small-image-lower-4    { grid-area: 8 / 2 / 9 / 3; }


        @include md {
                display: grid;
                grid-auto-columns: repeat(2, 1fr);
                grid-auto-rows: repeat(8, 1fr);
                
                #large-image-upper { 
                    grid-area: 1 / 1 / 3 / 4; 
                    width: 100%;
                    height: 100%;       
                }
                #small-image-upper-1 { grid-area: 1 / 4 / 2 / 5; }
                #small-image-upper-2 { grid-area: 1 / 5 / 2 / 6; }
                #small-image-upper-3 { grid-area: 2 / 4 / 3 / 5; }
                #small-image-upper-4 { grid-area: 2 / 5 / 3 / 6; }
                #small-image-lower-1 { grid-area: 3 / 2 / 4 / 3; }
                #small-image-lower-2 { grid-area: 3 / 3 / 4 / 4; }
                #small-image-lower-3 { grid-area: 4 / 2 / 5 / 3; }
                #small-image-lower-4 { grid-area: 4 / 3 / 5 / 4; }
                #large-image-lower { 
                    grid-area: 3 / 4 / 5 / 7; 
                    width: 100%;
                    height: 100%;

                }
        }
    }
}

.banner-small {
    margin-top: 5rem;
    
    .banner-content {
        background-color: $color-gray-40;
        flex-direction: column;
        padding: 2rem;
        color: $color-white;

        h1 {
            font-size: $font-size-35;
            font-weight: $font-weight-bold;
        }

        h2 {
            font-weight: $font-weight-bold;
            font-size: $font-size-18;
            margin-bottom: 2rem;
        }
    }
}

.product-columns {
    margin-bottom: 3rem;
    
    .product-columns-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-auto-flow: column;

        .column-title {
            display: flex;
            align-items: flex-end;
            justify-content: baseline;
            font-size: $font-size-20;
            font-weight: $font-weight-bold;
        }
    }
}

