.top-menu {
    background: transparent;
    // background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
    margin: 0;
    padding: 1rem 0;


    .logo {
        font-size: $font-size-35;
        font-weight: $font-weight-bold;
        color: $color-dark;
    }
    .navbar {
        display: none;

        .nav-item {
            margin: 0 0.5rem;
            font-size: $font-size-16;
            font-weight: $font-weight-medium;
        }

        @include md {
            display: inherit;
        }
    }

    .menu-links {
        gap: 1rem;
        line-height: 0;

        .badge {
            top: -0.3rem;
            left: 1.3rem;
            transition: 0.2s ease-in-out;
        }

        menu-link-circle:hover .badge {
            background-color: $color-dark;
        }
        
    }
}